@media (max-width: 1200px)
    .menu
        .menu__item
            padding-right: 20px
        .menu__link
            font-size: 15px
    .promo
        .promo__header
            font-size: 50px

    .reasons__block
        .reasons__descr
            width: 300px

    .mobile
        .mobile__item
            width: 300px
            height: 260px
            margin: 10px auto
    footer
        .footer_wrapper > div 
            width: 50%
            &:nth-child(1)
                width: 25%
            &:nth-child(3)
                width: 25%
                display: flex 
                justify-content: flex-end
        .footer_mobile
            display: block

@media (max-width: 991px)
    .menu
        .menu__item
            padding-right: 8px
        .menu__link
            font-size: 11px
    .subheader
        .subheader__logo
            imgwidth: 100%
        .subheader__official
            font-size: 11px
        .subheader__phone
            font-size: 11px
        .subheader__number
            font-size: 18px
        .subheader__btn
            height: 40px
            margin-top: 5px
            width: 100%
    .promo
        .promo__header
            font-size: 40px
        .promo__subheader
            font-size: 30px
    .work__reasons
        .reasons__block
            flex-direction: column
            align-items: center
        .reasons__descr
            margin-top: 20px
            width: 300px
    .mobile
        .mobile__item
            padding: 70px 0
            width: 220px
            height: 200px
        .mobile__item__subtitle
            font-size: 15px
    .uber__choose
        .uber__choose__car
            top: 310px
            max-width: 60%
    footer
        .footer__social
            margin-top: 104px
            position: absolute
            left: 209%
            -webkit-transform: TranslateX(-50%)
            transform: TranslateX(-50%)
        .footer__wrapper > div 
            width: 50%
            position: relative
            &:nth-child(1)
                width: 25%
            &:nth-child(3)
                width: 20%
                display: flex
        .footer__mobile
            display: flex
            position: absolute
            margin-top: 142px
            right: 200%
            transform: TranslateX(24%)
            a
                img
                    margin-left: 10px

@media (max-width: 767px)
    .menu
        position: fixed
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        flex-direction: column 
        align-items: center
        justify-content: center
        background-color: rgba(0, 0, 0, .8)
        transition: 0.6 all
        &__active
            left: 0
        .menu__item
            padding-right: 0
            border: none
            margin: 10px 0
        .menu__link
            font-size: 20px
    
    .subheader
        .subheader__btn
            position: absolute
            top: 31%
            right: 6%
            width: 30%
        .subheader__phone
            display: none
        .subheader__official
            display: none
        .subheader__number
            position: absolute
            top: 5%
            right: 8%
            text-decoration: none
        .subheader__logo
            margin-top: 10px
            img
                width: 210px
    .promo
        min-height: 300px
        .promo__header
            font-size: 30px
        .promo__subheader
            font-size: 20px
        .promo__descr
            display: none
    .uber__choose
        .black__bg
            padding-top: 30px
            height: 313px
            .uber__choose__title
                display: none
            .uber__choose__subtitle
                display: none
        .uber__choose__car
            top: 90px
        .white__bg
            display: none
    footer
        position: relative
        .footer__section__sources
            margin-top: 10px
        .footer__section__about
            top: 50px
        .social__networks
            top: 87%
            left: 47%;
            transform: translateX(-50%)
        .platforms
            top: 131%
            display: flex
            left: 12%
        .footer_mobile
            right: 181%;

@media (max-width: 575px)
    header
        .subheader
            height: 140px
            .subheader__logo
                display: flex
                justify-content: center
                margin-top: 0
            .subheader__number
                top: 39%
                right: 29%
            .subheader__btn
                top: 55%
                right: 27%
                width: 45%
    .uber__choose
        .black__bg
            min-height: 300px
        .uber__choose__car
            top: 40%
    .require
        .title
            font-size: 22px
        .require__title
            font-size: 19px
    .world
        .world__header
            font-size: 28px
        .world__subheader
            font-size: 15px
        .world__href
            font-size: 12px
    footer
        position: relative
        .footer__wrapper
            position: absolute
            right: 49%
            transform: TranslateX(22%)
        .footer__social
            left: 307%;
        .footer__mobile
            right: -1%;
        .footer__links
            width: 318px;
            .footer__links__main
                justify-content: space-around;
                padding: 0 69px;
                a
                    font-size: 13px
            .footer__links__sub
                justify-content: space-around;
                padding: 0 38px;
                a
                    font-size: 10px

        
            
                
            