* {
  font-family: Roboto, sans-serif;
}

header {
  position: relative;
}

.header__block {
  width: 100%;
  z-index: 10;
}

nav {
  height: 50px;
  background-color: #212121;
}

.subheader {
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
}

.menu {
  padding: 12px 70px;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__link {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
}

.menu .menu__item {
  border-right: 2px dotted black;
  padding-right: 45px;
}

.menu .menu__item:last-child {
  border-right: none;
}

.subheader {
  z-index: 20;
}

.subheader .subheader__logo {
  display: block;
  max-width: 100%;
}

.subheader .subheader__official {
  color: #FFFFFF;
  font-weight: 200;
  opacity: 0.5;
  font-size: 13px;
  margin-top: 6px;
}

.subheader .subheader__phone {
  color: #FFFFFF;
  font-weight: 200;
  font-size: 12px;
  text-align: right;
}

.subheader .subheader__number {
  display: block;
  color: #FFFFFF;
  font-size: 22px;
  text-align: right;
}

.subheader .subheader__block {
  padding: 16px 0;
}

.subheader .subheader__btn {
  width: 100%;
  height: 90%;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.subheader .subheader__btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url("../images/uber_bg.png") center center/cover no-repeat;
  padding: 151px 0 186px 0;
}

.promo .promo__header {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

.promo .promo__subheader {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.promo .promo__descr {
  margin-top: 16px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.promo .promo__btn {
  display: block;
  width: 259px;
  height: 63px;
  margin: 0 auto;
  margin-top: 115px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 63px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  border: none;
}

.promo .promo__btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/*
 *.promo .promo__block {
 *    margin-top: 67px;
 *} */
.work__reasons {
  padding: 71px 0 65px 0;
}

.work__reasons .reasons__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
}

.work__reasons .reasons__round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.test {
  margin-left: 25px;
}

.work__reasons .reasons__subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.work__reasons .reasons__text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.work__reasons .work__reason__header {
  color: #222222;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 77px;
}

.work__reasons .reasons__descr {
  width: 340px;
}

.title {
  color: #222222;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 33px;
}

.subtitle {
  color: #222222;
  font-size: 17px;
  text-align: center;
}

.mobile {
  padding: 48px 0 80px 0;
}

.mobile .row {
  margin-top: 30px;
}

.capabilities__block {
  background: #000000;
  width: 115px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.capabilities__block span {
  font-size: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile {
  min-height: 864px;
  padding: 0,0,79px 0;
  background: url("../images/mobile_bg.png") center center/cover no-repeat;
}

.mobile__item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 92px;
}

.mobile__item__1 {
  background: url("../images/mobile_screen_1.png") center center/cover no-repeat;
}

.mobile__item__2 {
  background: url("../images/mobile_screen_2.png") center center/cover no-repeat;
}

.mobile__item__3 {
  background: url("../images/mobile_screen_3.png") center center/cover no-repeat;
}

.mobile__item__4 {
  background: url("../images/mobile_screen_4.png") center center/cover no-repeat;
}

.mobile__item__5 {
  background: url("../images/mobile_screen_5.png") center center/cover no-repeat;
}

.mobile__item__6 {
  background: url("../images/mobile_screen_6.png") center center/cover no-repeat;
}

.mobile__item__subtitle {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.mobile__item__plus {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
  background: #000000;
  margin: 0 auto;
  border-radius: 100%;
  padding: 6px;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.mobile__item__plus:before {
  content: '';
  display: block;
  background-color: #1eacc7;
  width: 14px;
  height: 2px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile__item__plus:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  background-color: #1eacc7;
  width: 2px;
  height: 14px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile__item__plus:hover:before, .mobile__item__plus:hover:after {
  background-color: #ff5656;
}

.uber__choose {
  position: relative;
}

.uber__choose .black__bg {
  padding-top: 60px;
  width: 100%;
  min-height: 500px;
  background-color: #000000;
}

.uber__choose .white__bg {
  width: 100%;
  height: 397px;
  background: url("../images/mobile_bg.png") center center/cover no-repeat;
  padding-top: 210px;
}

.uber__choose .capabilities__block {
  background-color: #FFFFFF;
}

.uber__choose .capabilities__block span {
  color: #000000;
}

.uber__choose__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 27px;
  margin-bottom: 0;
}

.uber__choose__subtitle {
  color: #FFFFFF;
  font-size: 17px;
  text-align: center;
  margin-top: 1px;
}

.uber__choose__subtitle__2 {
  color: #222222;
  font-weight: 300;
  font-size: 17px;
  text-align: center;
}

.uber__choose__car {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 225px;
  width: 800px;
}

.require {
  padding: 68px 0 64px 0;
}

.require__block {
  margin: 33px 0;
}

.require__block__nmb {
  margin-bottom: 0px;
}

.require__title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

.require__list {
  margin-top: 22px;
  list-style-type: none;
  padding-left: 50px;
}

.require__list li {
  position: relative;
  color: #222222;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 8px;
}

.require__list li:before {
  position: absolute;
  left: -32px;
  top: 3px;
  content: '';
  display: block;
  width: 21px;
  height: 20px;
  background: url("../images/check_blue.png") center center/cover no-repeat;
}

.require__descr {
  color: #1CA8C3;
  font-weight: 300;
  font-size: 17px;
}

.require .warning .require__title {
  color: #ff5656;
}

.require .warning .require__list li:before {
  background: url("../images/check_red.png") center center/cover no-repeat;
}

.world {
  position: relative;
  padding: 46px 0 21px 0;
  width: 100%;
  height: 720px;
  background: url("../images/world_bg.png") center center/cover no-repeat;
}

.world .capabilities__block {
  width: 79px;
  height: 27px;
  background-color: #ffffff;
}

.world .capabilities__block span {
  color: #000000;
}

.world__header {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 26px;
}

.world__subheader {
  color: #FFFFFF;
  font-size: 17px;
  text-align: center;
}

.world__href {
  position: absolute;
  color: #1fbad6;
  font-size: 15px;
  text-transform: uppercase;
  bottom: 58px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer {
  width: 100%;
}

footer .footer__divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
}

footer .footer__wrapper > div {
  width: 33%;
}

footer .footer__wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer__social {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

footer .footer__links {
  width: 390px;
  margin: 0 auto;
}

footer .footer__links__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

footer .footer__links__main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

footer .footer__links__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

footer .footer__links__sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

footer .footer__links__lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1200px) {
  .menu .menu__item {
    padding-right: 20px;
  }
  .menu .menu__link {
    font-size: 15px;
  }
  .promo .promo__header {
    font-size: 50px;
  }
  .reasons__block .reasons__descr {
    width: 300px;
  }
  .mobile .mobile__item {
    width: 300px;
    height: 260px;
    margin: 10px auto;
  }
  footer .footer_wrapper > div {
    width: 50%;
  }
  footer .footer_wrapper > div:nth-child(1) {
    width: 25%;
  }
  footer .footer_wrapper > div:nth-child(3) {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer .footer_mobile {
    display: block;
  }
}

@media (max-width: 991px) {
  .menu .menu__item {
    padding-right: 8px;
  }
  .menu .menu__link {
    font-size: 11px;
  }
  .subheader .subheader__logo {
    imgwidth: 100%;
  }
  .subheader .subheader__official {
    font-size: 11px;
  }
  .subheader .subheader__phone {
    font-size: 11px;
  }
  .subheader .subheader__number {
    font-size: 18px;
  }
  .subheader .subheader__btn {
    height: 40px;
    margin-top: 5px;
    width: 100%;
  }
  .promo .promo__header {
    font-size: 40px;
  }
  .promo .promo__subheader {
    font-size: 30px;
  }
  .work__reasons .reasons__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work__reasons .reasons__descr {
    margin-top: 20px;
    width: 300px;
  }
  .mobile .mobile__item {
    padding: 70px 0;
    width: 220px;
    height: 200px;
  }
  .mobile .mobile__item__subtitle {
    font-size: 15px;
  }
  .uber__choose .uber__choose__car {
    top: 310px;
    max-width: 60%;
  }
  footer .footer__social {
    margin-top: 104px;
    position: absolute;
    left: 209%;
    -webkit-transform: TranslateX(-50%);
    transform: TranslateX(-50%);
  }
  footer .footer__wrapper > div {
    width: 50%;
    position: relative;
  }
  footer .footer__wrapper > div:nth-child(1) {
    width: 25%;
  }
  footer .footer__wrapper > div:nth-child(3) {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin-top: 142px;
    right: 200%;
    -webkit-transform: TranslateX(24%);
            transform: TranslateX(24%);
  }
  footer .footer__mobile a img {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6 all;
    transition: 0.6 all;
  }
  .menu__active {
    left: 0;
  }
  .menu .menu__item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu .menu__link {
    font-size: 20px;
  }
  .subheader .subheader__btn {
    position: absolute;
    top: 31%;
    right: 6%;
    width: 30%;
  }
  .subheader .subheader__phone {
    display: none;
  }
  .subheader .subheader__official {
    display: none;
  }
  .subheader .subheader__number {
    position: absolute;
    top: 5%;
    right: 8%;
    text-decoration: none;
  }
  .subheader .subheader__logo {
    margin-top: 10px;
  }
  .subheader .subheader__logo img {
    width: 210px;
  }
  .promo {
    min-height: 300px;
  }
  .promo .promo__header {
    font-size: 30px;
  }
  .promo .promo__subheader {
    font-size: 20px;
  }
  .promo .promo__descr {
    display: none;
  }
  .uber__choose .black__bg {
    padding-top: 30px;
    height: 313px;
  }
  .uber__choose .black__bg .uber__choose__title {
    display: none;
  }
  .uber__choose .black__bg .uber__choose__subtitle {
    display: none;
  }
  .uber__choose .uber__choose__car {
    top: 90px;
  }
  .uber__choose .white__bg {
    display: none;
  }
  footer {
    position: relative;
  }
  footer .footer__section__sources {
    margin-top: 10px;
  }
  footer .footer__section__about {
    top: 50px;
  }
  footer .social__networks {
    top: 87%;
    left: 47%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  footer .platforms {
    top: 131%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 12%;
  }
  footer .footer_mobile {
    right: 181%;
  }
}

@media (max-width: 575px) {
  header .subheader {
    height: 140px;
  }
  header .subheader .subheader__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
  header .subheader .subheader__number {
    top: 39%;
    right: 29%;
  }
  header .subheader .subheader__btn {
    top: 55%;
    right: 27%;
    width: 45%;
  }
  .uber__choose .black__bg {
    min-height: 300px;
  }
  .uber__choose .uber__choose__car {
    top: 40%;
  }
  .require .title {
    font-size: 22px;
  }
  .require .require__title {
    font-size: 19px;
  }
  .world .world__header {
    font-size: 28px;
  }
  .world .world__subheader {
    font-size: 15px;
  }
  .world .world__href {
    font-size: 12px;
  }
  footer {
    position: relative;
  }
  footer .footer__wrapper {
    position: absolute;
    right: 49%;
    -webkit-transform: TranslateX(22%);
            transform: TranslateX(22%);
  }
  footer .footer__social {
    left: 307%;
  }
  footer .footer__mobile {
    right: -1%;
  }
  footer .footer__links {
    width: 318px;
  }
  footer .footer__links .footer__links__main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 69px;
  }
  footer .footer__links .footer__links__main a {
    font-size: 13px;
  }
  footer .footer__links .footer__links__sub {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 38px;
  }
  footer .footer__links .footer__links__sub a {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */